:root{
    --primary-color-- : #519259;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
nav img{
    width: auto;
    height: 80px;
}
nav ul{
    font: normal normal 600 0px/40px Segoe UI;
    list-style: none;
    display: flex;
    color: var(--primary-color--);
    justify-items: center;
    align-items: center;
}
nav ul li{
    font-size: 20px;
    margin: 10px;
    padding: 7px;
}
nav ul .active{
    border-bottom: #064635 solid 3px;
}